.crondata {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__buttons_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__input {
    width: 100% !important;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 14vh;
  }

  &__item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    box-shadow: -3px -3px 9px rgba(255, 255, 255, 0.45),
      3px 3px 9px rgba(94, 104, 121, 0.148);
    border-radius: 8px;
    padding: 0 0.6rem 0 0;
    font-family: 'Manrope', sans-serif;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.6rem 1rem;
    text-align: left;
    cursor: cell;
    width: 85%;
    height: 100%;
  }

  &__delete_button {
    background: transparent;
    position: relative;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '';
      top: 40%;
      right: 0;
      width: 20px;
      height: 3px;
      background-color: #0000000f;
      transform: rotate(45deg);
      box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
        inset 5px 5px 9px rgba(94, 104, 121, 0.3);
      border-radius: 1px;
    }

    &::after {
      position: absolute;
      border-radius: 1px;
      content: '';
      top: 40%;
      right: 0;
      width: 20px;
      height: 3px;
      background-color: #0000000f;
      transform: rotate(-45deg);
      box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
        inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    }
  }

  &__copy {
    color: #878787;
    margin-top: 1rem;
    font-size: 12px;
    max-width: 200px;
    text-align: left;
  }
}
