.time {
  position: relative;
  // display: inline-block;
  &__button {
    cursor: pointer;
  }}
.crontab {
  &__selects {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  

  &__select {
    background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      outline: none;
    
      // background-color: aqua;
      // width: 100px;
      // cursor: pointer;
    }

  &__option {
width: 50px;
cursor: pointer;
background-color: transparent;
transition: all 0.1s ease;
padding: 0.3rem;
&:hover {
  background-color: #f3d528cb;
      // background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
      color: rgb(73, 73, 73);
}
  }
}
