.interval {
  &__item {
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
      5px 5px 9px rgba(94, 104, 121, 0.148);
    border-radius: 8px;
    overflow: hidden;
  }

  &__input {
    padding: 0.5rem 0.2rem 0.5rem 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    appearance: none;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
      5px 5px 9px rgba(94, 104, 121, 0.148);
    border-radius: 8px;
    overflow: hidden;
  }

  &__minutes {
    width: 150px;
  }

  &__button {
    padding: 0.6rem 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: -3px -3px 9px rgba(255, 255, 255, 0.45),
      3px 3px 9px rgba(94, 104, 121, 0.148);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #f3d528cb;
      color: rgb(73, 73, 73);
    }
  }
}
