body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background: #dde1e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button,
option {
  font-family: inherit;
}

input {
  font-family: 'Manrope', sans-serif;
}
